@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #1cc5d1; /* Light green background behind the thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, blue, #0d9df1); /* Gradient green thumb */
  border-radius: 10px;
  border: 3px solid #f0fdf4; /* Creates padding around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, blue, #0d9df1); /* Darker green on hover */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: blue #f0fdf4; /* thumb color, track color */
}
@keyframes slideDown {
  0% { opacity: 0; transform: translate(-50%, -20px); }
  10% { opacity: 1; transform: translate(-50%, 0); }
  90% { opacity: 1; transform: translate(-50%, 0); }
  100% { opacity: 0; transform: translate(-50%, -20px); }
}

.animate-slide-down {
  animation: slideDown 3s ease-in-out forwards;
}
